body {
    background: wheat;
    color: darkgoldenrod;
    font-family: Darker Grotesque, sans-serif;
    text-shadow: 2px 2px maroon;
}

#container{
    background: saddlebrown;
    border: 10px solid transparent;
    border-image: url("border.png");
    margin: 20px;
    padding: 10px;
}

#fortune{
    background-color: burlywood;
    padding: 20px;
}

h1{
    text-shadow: maroon;
}